{% extends "website/Base.html" %}

{% load static %}

<!-- Bloque CSS -->
<link rel="stylesheet" href="{% static 'website/css/servicios.css' %}">

{% block content %}
  <div>
    <p style="color: white; font-size: 3vw;text-align: center;">{{categoria}}</p>
  </div>
  <div class="d-flex">
   {% for post in posts %}
      {% for categoria in post.categorias.all %}
        <section class="page-section clearfix" style="margin-left: 10vw;">
          <div>
            <div class="card" style="width: 25vw; background-color: rgb(24, 64, 8)">
              <img src="{{post.imagen.url}}" class="card-img-top" alt="img">
              <div class="card-body">
                <h5 class="card-title" style="color: white;">{{post.titulo}}</h5>
                <p class="card-text" style="color: white;">{{post.contenido}}</p>
                <p class="card-text" style="color: white;">Autor: {{post.autor}}</p>
                <p class="card-text" style="color: white;">Categorìa: {{categoria}}</p>

                <a href="#" class="btn btn-warning" style="margin-left: 110px;">Más información</a>
              </div>
            </div>
          </div>
      {% endfor %}    
        </section>
   

   {% endfor %}
  </div>
{% endblock content %}   
