{% extends "website/Base.html" %}

{% load static %}


{% block content %}
<div class="container">
  <div style="float:right">
    <p style="color: white;">Total: $ {{importe_total_carro}} </p>
  </div>
  <div class="row">
{% for producto in productos %}
  <div class="col-md-4">
    <div class="card" style="width: 18rem; margin: 3vw 0 3vw 0;">
        <a href="#">
        <img src="{{producto.imagen.url}}" class="card-img-top" alt="imgen-de-producto">
        </a>
        <div class="card-body">
          <h5 class="card-title" style="font-size: 1.8vw;">{{producto.nombre}}</h5>
          <p class="card-text" style="font-size: 1.1vw;">{{producto.descripcion|truncatewords:8}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="font-size: 1.3vw;">Precio: $ {{producto.precio}}</li>
          {% if producto.precio_oferta > 0 %}
          <li class="list-group-item" style="color: red; font-size: 1.3vw;">Oferta: $ {{producto.precio_oferta}}</li>
          {% else %}
          <li class="list-group-item" style="font-size: 1.3vw;">Precio Regular</li>
          {% endif %}
          <li class="list-group-item"></li>
        </ul>
        <div class="card-body">
            <a href="#" class="btn btn-warning" style="margin-left: 1vw; font-size: 1.2vw;">Añadir al carro</a>
        </div>
      </div>
  </div>


{% endfor %}
  </div>
</div>
{% endblock content %}